
<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4 ">DocSigner</h1>
    <p class="lead">Um assinador virtual de documentos, criado para você</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href=<%new_request_path%> role="button"> Novo </a>
  </div>
</div>


